# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/*
!/build/web/
backend/node_modules/


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Local configuration
.env*
local.properties

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Windows
/windows/flutter/ephemeral/
/windows/flutter/generated_plugin_registrant.h
Visual Studio 2017.lnk
Visual Studio 2019.lnk

# Linux
/linux/flutter/ephemeral/
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugin_registrant.h

# macOS
/macos/Flutter/ephemeral/
/macos/Flutter/generated_plugin_registrant.swift

# Web
.web/
